{% extends "geodash/base.html" %}
{% load geodash_tags %}
{% block extra_head %}
  {% block map_config %}
    {% if dashboards_json %}
      <script type="text/javascript" language="Javascript">
        geodash.dashboards = {{ dashboards_json | safe }};
      </script>
    {% endif %}
  {% endblock %}
  {% block initial_state %}
  <script type="text/javascript" language="Javascript">
    geodash.state_schema = {{ state_schema_json | safe }};
  </script>
  {% endblock %}
  {% block initial_data %}
  <script type="text/javascript" language="Javascript">
      geodash.initial_data = {"data":{}};
  </script>
  {% endblock %}
  {% block server_templates %}
  <script type="text/javascript" language="Javascript">
      geodash.templates.server = {{ server_templates | safe }};
  </script>
  {% endblock %}
{% endblock %}

{% block init %}
<script type="text/javascript" language="Javascript">$(function(){geodash.init.all();});</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% block header %}{% endblock %}
    <div
      id="geodash-main"
      data-geodash-dashboard-name="main"
      data-geodash-controllers="GeoDashControllerMain"
      {% if dashboard_url %}data-geodash-dashboard-config-url="{{ dashboard_url }}"{% endif %}
      {% if state_url %}data-geodash-dashboard-initial-state-url="{{ state_url }}"{% endif %}
      {% if dashboard_resources_json %}data-geodash-dashboard-resources="{{ dashboard_resources_json }}"{% endif %}
      class="geodash-dashboard"
      geodash-main>
      <div class="row" style="padding:10px;">
        <div class="col-md-2"></div>
        <div class="col-md-4"><a href="/"><h4>Back to Homepage</h4></a></div>
        <div class="col-md-4"><a href="/"><i class="fa fa-arrow-right" style="font-size: 3rem;"></i></a></div>
        <div class="col-md-2"></div>
      </div>
    </div>
    {% block footer %}{% endblock %}
</div>
{% block extra_content %}{% endblock %}
{% endblock %}
